
#photos
{
	background: blue;
}

#about
{
	background: deepskyblue;
}

#like
{
	background: blue;
}

#qr
{
	background: deepskyblue;
}

#spa
{
	background: blue;
}

#contact
{
	background: deepskyblue;
}
body{ background-color: powderblue; color:black }

